name: Speed Test

on:
  workflow_dispatch:
  push:
    paths:
      - "./EternityBase"
      - "./sub/sub_merge_base64.txt"
      - "./sub/sub_merge_yaml.yml"

jobs:
  main:
    name: SpeedTest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Set Timezone
        run: sudo timedatectl set-timezone 'Asia/Tehran'

      - name: Install Requirements
        run: |
          pip install -r ./utils/requirements.txt

      - name: Run Lite Speedtest
        run: |
          sleep 5
          sudo sh ./utils/speedtest/speedtest2.sh
          python ./utils/speedtest/output.py
      

      - name: Commit Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull origin main
          git add EternityBase
          git add Eternity
          git add Eternity.txt
          git add ./sub/sub_merge.txt
          git add ./sub/sub_merge_base64.txt
          git add LogInfo.txt
          git add ./sub/splitted/*
          git checkout main
          git commit -m "✔️ $(date '+%Y-%m-%d %H:%M:%S') Speed Test"

      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          branch: main
